.brand{
    background-color: #FAF2E6;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 2rem; */
    color: black;
  }
  
  .brand-logo {
    font-size: 3rem; /* Increase font size */
    display: flex; /* Use flexbox to center logo and text */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    text-align: center; /* Center text */
    font-style: italic;
    font-family: Georgia, serif;
  }
  
  .brand-logo img {
    margin-right: 1rem; /* Add spacing between logo and text */
    height: 4rem; /* Increase logo size */
  }
  
  .navbar-dark .navbar-brand {
    color: black;
  }
  
  /* .divide{
    font: 56px;
    color:#FAF2E6;
  } */
  
  .me-auto {
    display: flex;
    align-items: center;
  }
  
  .divide {
    font-size: 20px;
    color: #faf2e6;
    /* margin: 0 10px; */
    padding: 0;
  }

  .search-bar {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 0.5s ease-in-out;
}

.search-bar.active {
    bottom: 0;
}
