.brand{
    background-color: #FAF2E6;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 2rem; */
    color: black;
  }
  
  .brand-logo {
    font-size: 3rem; /* Increase font size */
    display: flex; /* Use flexbox to center logo and text */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    text-align: center; /* Center text */
    font-style: bold;
    font-family: Mugglenews;
  }
  
  .brand-logo img {
    margin-right: 1rem; /* Add spacing between logo and text */
    height: 4rem; /* Increase logo size */
  }
  
  .navbar-dark .navbar-brand {
    color: black;
    
  }

  
  
  /* .divide{
    font: 56px;
    color:#FAF2E6;
  } */
  
  .me-auto {
    display: flex;
    align-items: center;
  }
  
  .divide {
    font-size: 20px;
    color: #faf2e6;
    /* margin: 0 10px; */
    padding: 0;
  }

  .search-bar {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 0.5s ease-in-out;
}

.search-bar.active {
    bottom: 0;
}

a.menu-item {
  color: #faf2e6;
  text-decoration: none;
  padding: 10px;
  font-size: 1.5em;
  }

  span.menu-item {
    color: #faf2e6;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5em;
    }

  button.menu-item {
    font-size: 1.5em;
    color: #faf2e6;
    text-decoration: none;
    }

    div.me-auto.fw-bold.navbar-nav {
      margin-left: 25%;
    }

    @media screen and (max-width: 600px) {
    div.me-auto.fw-bold.navbar-nav {
     margin-left: 0%;
    }

    /* span.menu-item {
      display: none;
      }  */

    
  }

  @media screen and (max-width: 400px) {

    div.container {
      padding: 0%;
    }
    nav.navbar {
      
      overflow: hidden;
      padding-left: 0%;
    }
    button.menu-item {
      padding: 2%;
    }
    a.menu-item {
      padding: 2%;
    }
    img {
      width: 95%;
    }


    
  }

  div.dropdown-menu.show {
    background-color: #212529;
  }

 a.dropdown-item:hover {
  background-color: #303438;
 }

 .navbar-dark .navbar-nav .nav-link {
  color: #faf2e6;
}
